html {
  min-height: 100vh;
  visibility: visible;
  opacity: 1;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("../assets/Elements4Website/SKETCHCOAST_FILM_TEXTURE_05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", "sans-serif";
}

/* spinner */

.spinner-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 290px;
  height: 300px;
  width: 300px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.2s ease infinite;
}

.spinner {
  position: relative;
}

.stop {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.spinner p {
  color: #fbeddb;
  text-align: center;
  font-size: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container.hide {
  display: none;
}

.spinner.hide {
  display: none;
}

/* spinner endline */

.links:hover {
  /* padding: 1em; */
  border-radius: 50%;
  text-decoration: none;
  padding: 1px;
  background-color: #ede9eb;
  box-shadow: -8px 0px 20px #685555;
}

/*  links sidebar CSS  */
.nav-links {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  padding: 1em 0.5em 1em 1em;
  background: #fafafa;
  border-radius: 0.5em 0 0 0.5em;
  box-shadow: -4px 0px 0px #685555;
  transition: all 300ms ease;
}

.nav-links:hover {
  box-shadow: -8px 0px 20px #685555;
  padding: 1em;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav-link a {
  color: #111;
  font-size: 1.5rem;
  transition: all 200ms ease;
}
.nav-link a:visited {
  color: #111;
}
.nav-link a:hover {
  color: hotpink;
  font-size: 1.75rem;
}

/* side-bar footer */

/*  */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.content {
  width: 500px;
  height: 500px;
  margin-top: 200px;
}

.content h1 {
  font-size: 3.5em;
  color: #dcdcdc;
  text-shadow: 2px 1px 1px rgb(195, 179, 179);
}

.content p {
  font-size: 2em;
  color: #dcdcdc;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
  margin-top: 100px;
}

@media (max-width: 1860px) {
  .menu .nav-links {
    padding: 1em 0.5em 1em 0.5em;
    top: 3%;
  }
  .menu .nav-list {
    flex-direction: row;
  }
}

@media (max-width: 1680px) {
  .content {
    margin-left: 50px;
    margin-top: 30px;
    height: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1440px) {
  .wrapper {
    flex-direction: column;
    margin: 0;
  }
  .wrapper .main-vid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    margin-top: 100px;
    margin-left: 0;
    width: 600px;
    /* height: 320px; */
  }
}

@media (max-width: 1224px) {
  .content h1 {
    font-size: 2.5em;
  }
  .content p {
    font-size: 1.5em;
    color: #dcdcdc;
  }
  .content {
    margin-left: 0;
    width: 400px;
    /* height: 250px; */
  }
}

@media (max-width: 1024px) {
  .wrapper .main-vid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .content {
    margin-left: 0;
    width: 400px;
    /* height: 200px; */
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper .content {
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    margin-left: 0;
    width: 400px;
    /* height: 220px; */
    margin-bottom: 10px;
  }
  .content h1 {
    font-size: 2.5em;
  }
  .menu .nav-links {
    top: 1.5%;
    padding: 0.4em 0.4em 0.4em 0.4em;
  }
  .menu .nav-link a {
    font-size: 1rem;
  }
  footer .nav-links1 {
    padding: 0.4em 0.4em 0.4em 0.4em;
  }
  footer .nav-link1 a {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .content {
    width: 400px;
    /* height: 220px; */
  }
  .wrapper .content {
    margin-left: 100px;
  }
  .wrapper .main-vid {
    margin-left: 80px;
  }
}
@media (max-width: 320px) {
  .content {
    width: 400px;
    height: 220px;
  }
  .wrapper .content {
    margin-left: 180px;
  }
  .wrapper .main-vid {
    margin-left: 150px;
  }
}

section {
  min-height: 100vh;
}

.prod {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-prod {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1228px) {
  .content-prod {
    grid-template-columns: repeat(1, 1fr);
  }
}

.story-board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media (max-width: 1840px) {
  .story-board a {
    font-size: 2rem;
  }
}

@media (max-width: 1680px) {
  .story-board a {
    font-size: 1.8rem;
  }
}

@media (max-width: 1440px) {
  .story-board a {
    font-size: 1.5rem;
  }
}

@media (max-width: 1224px) {
  .story-board {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .story-board a {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .story-board {
    margin-left: 125px;
  }
}
@media (max-width: 320px) {
  .story-board {
    margin-left: 200px;
    margin-bottom: 100px;
  }
}

.box-prod-story {
  margin: 20px;
  width: 970px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .box-prod-story {
    width: 850px;
  }
}

@media (max-width: 768px) {
  .box-prod-story {
    width: 650px;
  }
}

@media (max-width: 425px) {
  .box-prod-story {
    width: 450px;
  }
}

.story-vid {
  width: 100%;
}

@media (max-width: 768px) {
  .story-vid {
    width: 80%;
  }
}
@media (max-width: 425px) {
  section h2 {
    font-size: 3em;
  }
  .story-vid {
    width: 100%;
  }
  .prod .content-prod-story .box-prod-story {
    margin-left: 145px;
  }
}

@media (max-width: 320px) {
  section h2 {
    font-size: 3em;
  }
  .story-vid {
    width: 100%;
  }
  .prod .content-prod-story .box-prod-story {
    margin-left: 230px;
  }
}

.box-prod img {
  object-fit: contain;
  max-width: 700px;
  height: 400px;
}

@media (max-width: 1680px) {
  .box-prod img {
    max-width: 520px;
    height: 400px;
  }
}

@media (max-width: 1228px) {
  .box-prod img {
    max-width: 500px;
    height: 400px;
  }
}
@media (max-width: 425px) {
  .box-prod img {
    max-width: 400px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .box-prod img {
    max-width: 380px;
    height: 300px;
  }
}

.prod .content-prod .box-prod video {
  width: 750px;
  height: 420px;
}

@media (max-width: 1680px) {
  .prod .content-prod .box-prod video {
    width: 600px;
    height: 380px;
  }
}

@media (max-width: 1440px) {
  .prod .content-prod .box-prod video {
    width: 500px;
    height: 320px;
  }
}

@media (max-width: 1228px) {
  .prod .content-prod .box-prod video {
    width: 700px;
    height: 400px;
  }
}
@media (max-width: 900px) {
  .prod .content-prod .box-prod video {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 425px) {
  section h2 {
    margin-left: 125px;
  }
  .prod .content-prod .box-prod video {
    width: 400px;
    height: 250px;
  }
  .prod .content-prod .box-prod {
    margin-left: 100px;
  }
}
@media (max-width: 320px) {
  section h2 {
    margin-left: 130px;
  }
  .prod .content-prod .box-prod {
    margin-left: 200px;
  }
}
.box-prod {
  margin: 20px;
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1680px) {
  .box-prod {
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 1440px) {
  .box-prod {
    width: 650px;
    height: 400px;
  }
}
@media (max-width: 1228px) {
  .box-prod {
    width: 750px;
    height: 400px;
  }
}
@media (max-width: 900px) {
  .box-prod {
    width: 550px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .box-prod {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .box-prod {
    height: 250px;
  }
}
@media (max-width: 320px) {
  .box-prod {
    height: 230px;
  }
}

.box-prod video {
  height: 300px;
}

video {
  max-width: 90%;
  height: 90%;
}

.pin-vid {
  width: 1200px;
}

.video img {
  width: 450px;
  height: 285px;
  margin-right: 100px;
}

.title-3d {
  color: #dcdcdc;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 1px 1px rgb(195, 179, 179);
  margin-top: 50px;
}

h2 {
  color: #dcdcdc;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 1px 1px rgb(195, 179, 179);
}

/* footer nav bar */

.nav-links1 {
  position: fixed;
  left: 0%;
  top: 100%;
  transform: translateY(-80%);
  padding: 1em 1em 1em 1em;
  background: #fafafa;
  border-radius: 0.5em 0.5em 0em 0em;
  box-shadow: 0px -4px 0px 0px #323237;
  transition: all 300ms ease;
}

.nav-links1:hover {
  box-shadow: -8px 0px 20px #323237;
  padding: 1em;
}

.nav-list1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-link1 a {
  color: #111;
  font-size: 1.5rem;
  transition: all 200ms ease;
}
.nav-link1 a:visited {
  color: #111;
}
.nav-link1 a:hover {
  color: hotpink;
  font-size: 1.75rem;
}
