@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
html {
  min-height: 100vh;
  visibility: visible;
  opacity: 1;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* spinner */

.spinner-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 290px;
  height: 300px;
  width: 300px;
  border: 6px solid;
  border-color: rgb(230, 230, 220) transparent rgb(228, 224, 220) transparent;
  border-radius: 50%;
  animation: spin 1.2s ease infinite;
}

.spinner {
  position: relative;
}

.stop {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.spinner p {
  color: #1d1c1b;
  text-align: center;
  font-size: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container.hide {
  display: none;
}

.spinner.hide {
  display: none;
}

/* spinner endline */
/*  */
body {
  background-image: url("../FOR WEBSITE/Captsone/RECONNECT_BLUR_PNG_Compressed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", "sans-serif";
}

section {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  /* padding: 40px 0; */
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: #ede9eb;
  text-shadow: 2px 1px 1px rgb(195, 179, 179);
  font-family: "Smooch Sans", sans-serif;
}

h4 {
  font-size: 4rem;
  text-align: center;
  color: #ede9eb;
  text-shadow: 2px 1px 1px rgb(195, 179, 179);
  font-family: "Smooch Sans", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 50px;
}

.content2 p span {
  font-size: 3em;
  color: #ede9eb;
  font-weight: bold;
}

.content2 p {
  font-size: 1.2em;
  color: #ede9eb;
  font-weight: 500;
}

.content2 img {
  width: 100%;
  height: 800px;
  object-fit: contain;
}

.content3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content3 .teaser {
  width: 100%;
  object-fit: contain;
}

.fullscreen {
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

video {
  max-width: 100%;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 16px 10px rgba(65, 65, 65, 0.6));
}

.box0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1240px) {
  .box0 .content2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 200px;
}

.box2 img {
  max-width: 100%;
}

/* .vid {
  margin-top: 70px;
} */

@media (max-width: 768px) {
  .content2 {
    flex-direction: column;
  }
  .content2 img:last-child {
    width: 450px;
    height: 450px;
  }
  .content3 .teaser {
    width: 450px;
    height: 450px;
  }
  h1 {
    font-size: 3rem;
  }
  .menu .nav-links {
    padding: 0.3em 0.3em 0.3em 0.3em;
  }
  .menu .nav-link a {
    font-size: 1em;
  }
  footer .nav-links1 a {
    font-size: 1em;
  }
  footer .nav-links1 {
    padding: 0.3em 0.3em 0.3em 0.3em;
  }
}

@media (max-width: 425px) {
  .box0 .content2 span {
    font-size: 2em;
  }
  .box0 .content2 p {
    font-size: 0.7em;
  }
  .menu .nav-links {
    padding: 0.3em 0.3em 0.3em 0.3em;
  }
  .content3 .teaser {
    width: 330px;
    height: 450px;
  }
  section {
    min-height: 50vh;
  }
}

@media (max-width: 320px) {
  section {
    min-height: 10vh;
  }
  .box0 .content2 span {
    font-size: 2em;
  }
  .box0 .content2 p {
    font-size: 0.6em;
  }
  .menu .nav-links {
    padding: 0.2em 0.2em 0.2em 0.2em;
    top: 9%;
  }
  .footer .nav-links1 {
    padding: 0.2em 0.2em 0.2em 0.2em;
  }
  .content3 .teaser {
    width: 250px;
    height: 450px;
  }
}
/*  */
/* side-bar footer */

.nav-links1 {
  position: fixed;
  left: 0%;
  top: 100%;
  transform: translateY(-80%);
  padding: 1em 1em 1em 1em;
  background: #fafafa;
  border-radius: 0.5em 0.5em 0em 0em;
  box-shadow: 0px -4px 0px 0px #685555;
  transition: all 300ms ease;
}

.nav-links1:hover {
  box-shadow: -8px 0px 20px #685555;
  padding: 1em;
}

.nav-list1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-link1 a {
  color: #111;
  font-size: 1.5rem;
  transition: all 200ms ease;
}
.nav-link1 a:visited {
  color: #111;
}
.nav-link1 a:hover {
  color: hotpink;
  font-size: 1.75rem;
}

/* sidebar navlinks */

.links:hover {
  /* padding: 1em; */
  border-radius: 50%;
  text-decoration: none;
  padding: 1px;
  background-color: #ede9eb;
  box-shadow: -8px 0px 20px #685555;
}

/*  links sidebar CSS  */
.nav-links {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  padding: 1em 0.5em 1em 1em;
  background: #fafafa;
  border-radius: 0.5em 0 0 0.5em;
  box-shadow: -4px 0px 0px #685555;
  transition: all 300ms ease;
}

.nav-links:hover {
  box-shadow: -8px 0px 20px #685555;
  padding: 1em;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav-link a {
  color: #111;
  font-size: 1.5rem;
  transition: all 200ms ease;
}
.nav-link a:visited {
  color: #111;
}
.nav-link a:hover {
  color: hotpink;
  font-size: 1.75rem;
}
